!!!
%head
  %title
    poc-x
  %meta{charset: 'utf-8'}

  %link{href: '/bootstrap.min.css', rel: "stylesheet"}
  %link{href: '/bootstrap-theme.min.css', rel: "stylesheet"}
  %link{href: '/style.css', rel: "stylesheet"}

  %script{src: '/jquery.min.js'}
  %script{src: '/bootstrap.min.js'}
  %script{src: '/script.js'}

%body
  %ul.nav.nav-tabs{role: "tablist"}
    %li{class: 'active'}
      %a{href: '#data', role: 'tab', data: {toggle: 'tab'}}
        Intercepted Data
    %li
      %a{href: '#config', role: 'tab', data: {toggle: 'tab'}}
        Configuration
    %li
      %a{href: '#logs', role: 'tab', data: {toggle: 'tab'}}
        Logs

  .tab-content
    #data.tab-pane.fade-in.active
      %table.stream-table
        %tr
          %td
            .stream{data: {name: 'urls.txt', title: 'Visited URLS', unique: 'true'}}
          %td
            .stream{data: {name: 'forms.txt', title: 'Accounts', match: 'mail|email|pass|pwd'}}
        %tr
          %td
            .stream{data: {name: 'socks_urls.txt', title: 'Visited URLS through SOCKS', unique: 'true'}}
          %td
            .stream{data: {name: 'socks_forms.txt', title: 'Accounts through SOCKS', match: 'mail|email|pass|pwd|user'}}

    #config.tab-pane
      .container
        .row
          .col-md-12
            %h3
            - @services.each do |name, title|
              .service.alert-warning{data: {name: name}}
                .row
                  .col-xs-8
                    %h5
                      = title
                      %small
                        Unknown status
                  .col-md-4
                    .btn-group.pull-right
                      %button{type: 'button', class: 'btn btn-default btn-stop'}
                        Stop
                      %button{type: 'button', class: 'btn btn-default btn-start'}
                        Start

    #logs.tab-pane
      %table.stream-table
        %tr
          %td
            .stream{data: {name: 'exploit.log'}}
          %td
            .stream{data: {name: 'socks.log'}}
        %tr
          %td{colspan: 2}
            .stream{data: {name: 'poc-x.log', title: "poc-x debug log"}}
