!!!
%head
  %title
    poc-x
  %meta{charset: 'utf-8'}

  %link{href: '/bootstrap.min.css', rel: "stylesheet"}
  %link{href: '/bootstrap-theme.min.css', rel: "stylesheet"}
  %link{href: '/style.css', rel: "stylesheet"}

  %script{src: '/jquery.min.js'}
  %script{src: '/bootstrap.min.js'}
  %script{src: '/script.js'}

%body
  %ul.nav.nav-tabs{role: "tablist"}
    %li{class: 'active'}
      %a{href: '#data', role: 'tab', data: {toggle: 'tab'}}
        Data flow
    %li
      %a{href: '#config', role: 'tab', data: {toggle: 'tab'}}
        Configure
    %li
      %a{href: '#logs', role: 'tab', data: {toggle: 'tab'}}
        Logs

  .tab-content
    #data.tab-pane.fade-in.active
      %table.stream-table
        %tr
          %td
            .stream{data: {path: '~/ht/rcs-db/log/rcs-db_2014-09-09.log', title: 'Data flow 1'}}
          %td
            .stream{data: {path: '~/ht/rcs-db/log/rcs-db_2014-09-09.log'}}
        %tr
          %td
            .stream{data: {path: '~/ht/rcs-db/log/rcs-db_2014-09-09.log'}}
          %td
            .stream{data: {path: '~/ht/rcs-db/log/rcs-db_2014-09-09.log'}}

    #config.tab-pane
      .container
        .row
          .col-md-12
            %h3
              Configure

            .alert.alert-info
              %h4
                Service 1
                %small
                  Running
              %button{type: 'button', class: 'btn btn-default'}
                Start
              %button{type: 'button', class: 'btn btn-default'}
                Stop

    #logs.tab-pane
      %table.stream-table
        %tr
          %td
            .stream{data: {path: '~/ht/rcs-db/log/rcs-db_2014-09-09.log'}}
          %td
            .stream
        %tr
          %td
            .stream
          %td
            .stream
