!!!
%head
  %title
    htailer
  %meta{charset: 'utf-8'}
  %script{src: '/jquery-1.11.1.min.js'}
  %link{href: '/bootstrap/css/bootstrap.min.css', rel: "stylesheet"}
  %script{src: '/bootstrap/js/bootstrap.min.js'}
  %script{src: '/script.js'}
  %link{href: '/style.css', rel: "stylesheet"}

%body
  = yield